# Arquivos de configuração
vite.config.ts
vitest.config.ts
*.config.js
*.config.ts

# Testes
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
src/test/

# Diretórios
dist/
node_modules/
coverage/
